<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><%= title %></title>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/bootstrap-switch.js"></script>
    <script src="/js/flatui-checkbox.js"></script>
    <script src="/js/flatui-radio.js"></script>
    <script src="/js/jquery.tagsinput.js"></script>
    <script src="/js/jquery.placeholder.js"></script>
    <script src="/js/jquery.stacktable.js"></script>

    <script src="/js/intro.js"></script>

	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/introjs.css" rel="stylesheet">

    <style type="text/css">


    </style>
</head>

<body>
    <div class="container-fluid" style="margin-top:35px;">
        <div class="row-fluid" style="margin-bottom:30px;">
            <div class="span4 offset4">
                    <a id="draw" class="btn btn-large btn-block btn-primary">Clicca per estrarre</a>
            </div>
        </div>

        <div class="row-fluid" style="margin-bottom:5px;">
            <div class="span4">
                <div class="tile">
                    <h3>Vincitori premio 1</h3>
                </div>
            </div>

            <div class="span4">
                <div class="tile">
                    <h3>Vincitori premio 2</h3>
                </div>
            </div>

            <div class="span4">
                <div class="tile">
                    <h3>Vincitori premio 3</h3>
                </div>
            </div>
        </div>

        <div class="row-fluid" style="margin-bottom:30px;">
            <div class="span4">
                <div class="tile">
                    <ul id="winner1"></ul>
                </div>
            </div>

            <div class="span4">
                <div class="tile">
                    <ul id="winner2"></ul>
                </div>
            </div>

            <div class="span4">
                <div class="tile">
                    <ul id="winner3"></ul>
                </div>
            </div>
        </div>

        <div class="row-fluid" style="margin-bottom:30px;">
            <div class="span4 offset4">
                    <a id="winner" class="btn btn-large btn-block btn-primary">Clicca per selezionare definitivamente i vincitori e mandare email</a>
            </div>
        </div>

        <div class="row-fluid" style="margin-bottom:5px;">
            <div class="span4">
                <div class="tile">
                    <h3>Partecipanti premio 1</h3>
                </div>
            </div>

            <div class="span4">
                <div class="tile">
                    <h3>Partecipanti premio 2</h3>
                </div>
            </div>

            <div class="span4">
                <div class="tile">
                    <h3>Partecipanti premio 3</h3>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4">
                <div class="tile">
                    <ul>
                        <% for(var key in p1Pool) { %>
                            <li>
                                <%= p1Pool[key].email %>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>

            <div class="span4">
                <div class="tile">
                    <ul>
                        <% for(var key in p2Pool) { %>
                            <li>
                                <%= p2Pool[key].email %>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>

            <div class="span4">
                <div class="tile">
                    <ul>
                        <% for(var key in p3Pool) { %>
                            <li>
                                <%= p3Pool[key].email %>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="finishModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Operazione completata</h3>
            </div>
        <div class="modal-body">
            <p>Per sicurezza aspetta qualche minuto, per lasciare che tutte le email vengano inviate prima di spegnere il programma</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Chiudi</a>
        </div>
    </div>

    <script>
        var winners = {}

        var deleteEntry = function(id,key) {
            if(id == 1) {
                winners.p1Win.splice(key,1)
            } else if(id == 2) {
                winners.p2Win.splice(key,1)
            } else if(id == 3) {
                winners.p3Win.splice(key,1)
            }

            drawAll()
        }

        var drawAll = function() {
            var content = ''
            $('#winner1').html('')
            for(var key in winners.p1Win) {
                content += '<li><span>' + winners.p1Win[key] + '</span><span style="margin-left:10px;" onclick="deleteEntry(1,' + key + ')" class="fui-cross"></span></li>'
            }
            $('#winner1').html(content)

            var content = ''
            $('#winner2').html('')
            for(var key in winners.p2Win) {
                content += '<li><span>' + winners.p2Win[key] + '</span><span style="margin-left:10px;" onclick="deleteEntry(2,' + key + ')" class="fui-cross"></span></li>'
            }
            $('#winner2').html(content)

            var content = ''
            $('#winner3').html('')
            for(var key in winners.p3Win) {
                content += '<li><span>' + winners.p3Win[key] + '</span><span style="margin-left:10px;" onclick="deleteEntry(3,' + key + ')" class="fui-cross"></span></li>'
            }
            $('#winner3').html(content)
        }

        $(function() {
            $('#finishModal').on('hide', function () {
                window.location = "http://localhost:1337/lottery"
            })

            $('#draw').click(function() {
                socket.request('/estrai', {}, function(res) {
                    winners = res;
                    drawAll()
                })
            })

            $('#winner').click(function() {
                socket.request('/winner', winners, function(res) { console.log(res)})

                $('#finishModal').modal()
            })
        });

   </script>

</body>
</html>