<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><%= title %></title>
</head>

<body>
    <div id="table"> </div>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <script>
        var findReq = {where: {}, sort: 'name ASC'};

        $(document).ready(function() {
            print()

            socket.on('message', function(message) {
                print()
            })
        })

        var print = function () {
            socket.get('/gamer', findReq, function(response) {
                createTable(response)
            })
        }

        var deleteEntry = function(id) {
             socket.delete('/gamer/' + id, function (res) {
                print()
             })
        }

        var updateEntry = function(id) {
            var update = {
                id: id,
                email: $('#email_' + id).val(),
                best: $('#best_' + id).val(),
                prize1: $('#prize1_' + id).val(),
                prize2: $('#prize2_' + id).val(),
                prize3: $('#prize3_' + id).val()
            }
            socket.request('/gamer/update', update, function(res) {
                print()
            })
        }

        var createTable = function (response) {
            var div = $('#table')
            var res = '<table style="border-collapse:collapse;" border="1">'

            res = res + "<thead><tr>" +
                            "<td>" + "ID" + "</td>" +
                            "<td>" + "Email" + "</td>" +
                            "<td>" + "Best"  + "</td>" +
                            "<td>" + "Prize 1"  + "</td>" +
                            "<td>" + "Prize 2"  + "</td>" +
                            "<td>" + "Prize 3"  + "</td>" +
                        "</tr></thead>"

            jQuery.each(response, function(i, gamer) {
                res = res +
                "<tr>" +
                    '<td>' + gamer.id + '</td>' +
                    '<td>' + '<input type="text" id="email_' + gamer.id + '" value="' + gamer.email + '">' + '</td>' +
                    '<td>' + '<input type="text" id="best_' + gamer.id + '" value="' + gamer.best + '">' + '</td>' +
                    '<td>' + '<input type="text" id="prize1_' + gamer.id + '" value="' + ((gamer.prize1)?1:0) + '">' + '</td>' +
                    '<td>' + '<input type="text" id="prize2_' + gamer.id + '" value="' + ((gamer.prize2)?1:0) + '">' + '</td>' +
                    '<td>' + '<input type="text" id="prize3_' + gamer.id + '" value="' + ((gamer.prize3)?1:0) + '">' + '</td>' +
                    '<td>' + '<button onclick="deleteEntry(' + gamer.id + ')">d</button>'  + '</td>' +
                    '<td>' + '<button onclick="updateEntry(' + gamer.id + ')">u</button>'  + '</td>' +
                "</tr>";
            });

            res = res + "</table>"
            div.html(res)
        }
    </script>
</body>

</html>